.box{
width:470px;
height:350px;
background:black;
color:#fff;
top:60%;
left:55%;
position:absolute;
transform:translate(-65%, -70%);
box-sizing: border-box;
padding: -10px 5px;
border-radius:20px;
}

h1{
padding-left:150px;

}
.box input[type="submit"]
{
width:340px;
display:block;
margin:auto;
text-align:center;
background:red;
}
#name{
padding-left:155px;
font-size:20;
}
#life{
padding-left:100px;
font-size:20;
}
pre{
padding-left:80px;
font-size:16;
}
.position{
padding-left:60px;
}

.ram
{
display:block;
margin:auto;
text-align:center;
width:160px;
background:red;
color:white;
}







h4{
padding-left:130px;
padding-top:120px;
}
.square{
width:380px;
height:390px;
background:#000;
color:#fff;
top:60%;
left:50%;
position:absolute;
transform:translate(-65%, -70%);
box-sizing: border-box;
padding: -10px 5px;
border-radius:20px;
}
#text{
padding-left:40px;
font-size:18px;
}
#txt{
padding-left:115px;
font-size:18px;
}
.play
{
display:block;
margin:auto;
text-align:center;
width:180px;
background:red;
color:#f0f2f5

}
.play:hover
{
color:#000;
}












.mbl{
width:380px;
height:420px;
background:#000;
color:#fff;
top:60%;
left:50%;
position:absolute;
transform:translate(-65%, -70%);
box-sizing: border-box;
padding: -10px 5px;
border-radius:20px;
}
h5{
padding-top:70px;
padding-left:100px;
font-size:18px;
}
#contact{
padding-left:111px;
font-size:18px;
}
#enter{
padding-left:75px;
font-size:18px;
}
#hide{
padding-left:90px;
font-size:18px;
}
#later{
padding-left:140px;
font-size:18px;
}

.typ {
padding-left:112px;
}


.num
{
display:block;
margin:auto;
text-align:center;
width:160px;
background:red;
color:white;

}
.num:hover
{
color:black;
}

.email{
padding-left:110px;
}
.email:hover
{
color:red;
}












.hot{
width:380px;
height:450px;
background:#000;
color:#fff;
top:60%;
left:50%;
position:absolute;
transform:translate(-65%, -70%);
box-sizing: border-box;
padding: -10px 5px;
border-radius:20px;
}
h6{
padding-top:70px;
padding-left:70px;
font-size:18px;
}
#eml{
padding-left:111px;
font-size:18px;
}
#addr{
padding-left:75px;
font-size:18px;
}
#frm{
padding-left:90px;
font-size:18px;
}
#pf{
padding-left:140px;
font-size:18px;
}

.xyz{
padding-left:102px;
}
#cont{
padding-left:119;
font-size:18px;
}


.pwd
{
display:block;
margin:auto;
text-align:center;
width:160px;
background:red;
color:white;

}
.pwd:hover
{
color:black;
}

.phone{
padding-left:110px;
}
.phone:hover
{
color:red;
}












.born{
width:380px;
height:450px;
background:#000;
color:#fff;
top:60%;
left:50%;
position:absolute;
transform:translate(-65%, -70%);
box-sizing: border-box;
padding: -10px 5px;
border-radius:20px;
}

#brt{
padding-top:90px;
padding-left:50px;
}

#choose{
padding-left:90px;
font-size:18px;
}

#make{
padding-left:50px;
font-size:18px;
}
.para
{
padding-left:135px;
font-size:18px;
}
.happy input[type="date"]
{
display:block;
margin:auto;
text-align:center;
width:120px;
background:white;
color:black;
}
.happy input[type="date"]:hover
{
color:red;
}

.yj{
display:block;
margin:auto;
text-align:center;
width:120px;
background:red;
color:white;
}







